<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>depict</title>
  <meta name="description" content="depict">
  <!-- <link rel="stylesheet" type="text/css" href="/static/css/main.css"> -->
  <link rel="stylesheet" type="text/css" href="/static/css/style.css">
  <link rel="stylesheet" type="text/css" href="/static/css/font-awesome.min.css">
</head>
<body>
  <div id="reactEntry">
    Loading ...
  </div>
  <!-- Load JavaScript -->
  <script type="text/javascript" src="{{ url_for('static', filename='js/bundle.js') }}"></script>
</body>
</html>
