#upload-container {
  display: flex;
  flex-direction: column;
}

#upload-stuff {
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  max-height: 400px;
  max-width: 400px;
}
