#upload-container {
  display: flex;
  flex-direction: column;
}

#upload-stuff {
  display: flex;
  align-items: center;
  justify-content: center;
}

#upload-stuff img {
  max-height: 1000px;
  max-width: 1000px;
}

#logo {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  margin-bottom: 20px;
}

#logo img {
  max-width: 200px;
  max-height: 80px;
}
