#upload-container {
  display: flex;
  flex-direction: column;
}

#upload-stuff {
  display: flex;
  align-items: center;
  justify-content: center;
}

#upload-stuff img {
  max-height: 800px;
  max-width: 800px;
}

#logo {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  margin-bottom: 30px;
}

#logo img {
  max-width: 200px;
  max-height: 80px;
}

#hide input[type=file] {
    display:none;
    margin:10px;
}
#hide input[type=file] + label {
    display:inline-block;
    margin:20px;
    padding: 4px 32px;
    background-color: #FFFFFF;
    border:solid 1px #666F77;
    border-radius: 6px;
    color:#666F77;
}
#hide input[type=file]:active + label {
    background-image: none;
    background-color:#2D6C7A;
    color:#FFFFFF;
}